
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'fixed/head.html' %}
  </head>
  <body>
    <main>
      {% block content %}
      <a>{{position.name}}</a>
      <header class="header">
        <nav class="navigation">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a class="navigation__link" href="" title="logo"
                ><img id="logo-well" src="/pics/logo-black.svg" alt="logo well"
              /></a>
            </li>
            <div class="img-container">
              <li class="navigation__item">
                <a class="navigation__link" href="" title="search"
                  ><img
                    src="pics/search_icon.svg"
                    alt="search icon"
                    height="32"
                    width="32"
                /></a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="" title="cart"
                  ><img
                    src="pics/Vectorcart-2.svg"
                    alt="cart icon"
                    height="32"
                    width="32"
                /></a>
              </li>
            </div>
          </ul>
        </nav>
      </header>

      <p class="bottom-nav">Главная | <a href="" class="nav-link">Зубья</a></p>
      <!-- <div><span>Наличие<div class></div></span><div></div><span></span><span>Пильные зубья</span></div> -->
      <section class="catalog">
        <div class="container">
        <div class="info-stripe">
          <div class="instipe-pos">
          <p class="pop-up instipe" >Наличие</p>
          <p class="pop-up instipe">Название машины</p>
        </div>
          <p class="name-of-category ">Пильные зубья</p>
        </div>
      </div>
      <div class="container">
        <ul class="catalog__list-category">
          <li class="catalog__item-category">
            <a href=""></a
            ><img
              class="image-category"
              src="pics\d0bf12_7a82601dad2f4520b5450ee5e8b44b5d~mv2 2test-pic11.png"
              alt=""
            />
            <p class="category-item-name">Bandit</p>
            <p class="index-of-item">#Q10233T</p>
            <p class="price">
              2489 <img src="pics\ruble-svg.svg" alt="" class="image-ruble" />
            </p>
          </li>
          <li class="catalog__item-category">
            <a href=""> </a
            ><img
              src="pics/d0bf12_7a82601dad2f4520b5450ee5e8b44b5d~mv2 2test-pic11.png"
              alt=""
              class="image-category"
            />
            <p class="category-item-name">Bandit</p>
            <p class="index-of-item">#Q10233T</p>
            <p class="price">
              2489 <img src="pics\ruble-svg.svg" alt="" class="image-ruble" />
            </p>
          </li>
          <li class="catalog__item-category">
            <a href=""></a
            ><img
              src="pics/d0bf12_7a82601dad2f4520b5450ee5e8b44b5d~mv2 2test-pic11.png"
              alt=""
              class="image-category"
            />
            <p class="category-item-name">Bandit</p>
            <p class="index-of-item">#Q10233T</p>
            <p class="price">
              2489 <img src="pics\ruble-svg.svg" alt="" class="image-ruble" />
            </p>
          </li>
          <li class="catalog__item-category">
            <a href=""></a
            ><img
              src="pics/d0bf12_7a82601dad2f4520b5450ee5e8b44b5d~mv2 2test-pic11.png"
              alt=""
              class="image-category"
            />
            <p class="category-item-name">Bandit</p>
            <p class="index-of-item">#Q10233T</p>
            <p class="price">
              2489 <img src="pics\ruble-svg.svg" alt="" class="image-ruble" />
            </p>
          </li>
          <li class="catalog__item-category">
            <a href=""></a
            ><img
              src="pics/d0bf12_7a82601dad2f4520b5450ee5e8b44b5d~mv2 2test-pic11.png"
              alt=""
              class="image-category"
            />
            <p class="category-item-name">Bandit</p>
            <p class="index-of-item">#Q10233T</p>
            <p class="price">
              2489 <img src="pics\ruble-svg.svg" alt="" class="image-ruble" />
            </p>
          </li>
          <li class="catalog__item-category">
            <a href=""></a
            ><img
              src="pics/d0bf12_7a82601dad2f4520b5450ee5e8b44b5d~mv2 2test-pic11.png"
              alt=""
              class="image-category"
            />
            <p class="category-item-name">Bandit</p>
            <p class="index-of-item">#Q10233T</p>
            <p class="price">
              2489 <img src="pics\ruble-svg.svg" alt="" class="image-ruble" />
            </p>
          </li>
        </ul>
      </div>
      </section>
      {% endblock content %}
    </main>
  </body>
  <footer>
    <img class="logo-well-footer" src="pics/footer-logo.svg" alt="logo well" />
    <p class="credits">
      Designed and built with all the love in the world by the
      <span class="Deposit-link"><a class="deposit" href="">Deposit</a> </span>.
      <span class="licensed">Code licensed</span>
      <a class="MIT-link" href="">MIT.</a>
    </p>
    <div class="forms-container">
      <span class="contact-form"><p>Задать вопрос</p></span>
      <div class="contact-positon">
        <span class="contact-num"
          ><img
            class="call"
            src="pictures/catalog-pictures-index/phone.svg"
            alt="call us"
        /></span>
      </div>
    </div>
    <div class="darken-coat">
      <p class="copyrights">© Well, Russia. Все права защищены.</p>
    </div>
  </footer>
</html>
