<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'fixed/head.html' %}
  </head>
  <body>
  {%block content%}
    <main>
      <header class="header">
        <nav class="navigation">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a class="navigation__link" href="" title="logo"
                ><img id="logo-well" src="/pics/logo-black.svg" alt="logo well
                style="filter: invert(1); /></a
              >
            </li>
            <div class="img-container">
              <li class="navigation__item">
                <a class="navigation__link" href="" title="search"
                  ><img
                    src="pics/search_icon.svg"
                    alt="search icon"
                    height="32"
                    width="32"
                /></a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="" title="cart"
                  ><img
                    src="pics/Vectorcart-2.svg"
                    alt="cart icon"
                    height="32"
                    width="32"
                /></a>
              </li>
            </div>
          </ul>
        </nav>
      </header>

      <p class="bottom-nav">
        Главная | <a href="" class="bottom-nav">Зубья</a> |
        <a href="" class="nav-link">BEAVER</a>
      </p>
      <!-- start item name -->
      <h4 class="item-name">Комплект зубьев(18шт.) Beaver</h4>
      <div class="item-img-container">
        <img
          src="pics/trial.png"
          alt=""
          class="item-pic"
          box-shadow:
          2px
          2px
          5px
          rgba(0,
          0,
          0,
          0.5)
        />
      </div>
      <div class="bottom-pics"
        style="
          width: 366.27px;
          height: 109.54px;
          border-radius: 14px;
          justify-content: flex-start;
          align-items: center;
          gap: 18.83px;
          display: inline-flex;
        "
      >
        <div
          style="
            width: 109.54px;
            height: 109.54px;
            padding-top: 13.18px;
            padding-bottom: 13.52px;
            padding-left: 11.3px;
            padding-right: 11.11px;
            background: #d8d8d8;
            border-radius: 10px;
            overflow: hidden;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            display: inline-flex;
          "
        >
          <img
            style="width: 87.13px; height: 82.84px"
            src="https://via.placeholder.com/87x83"
          />
        </div>
        <div
          style="
            width: 109.54px;
            height: 109.54px;
            padding-top: 14.12px;
            padding-bottom: 15.4px;
            padding-left: 12.15px;
            padding-right: 13.61px;
            background: #d8d8d8;
            border-radius: 10px;
            overflow: hidden;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            display: inline-flex;
          "
        >
          <img
            style="width: 83.78px; height: 80.01px"
            src="https://via.placeholder.com/84x80"
          />
        </div>
        <div
          style="
            width: 109.54px;
            height: 109.54px;
            padding-top: 12.24px;
            padding-bottom: 13.52px;
            padding-left: 12.75px;
            padding-right: 12.07px;
            background: #d8d8d8;
            border-radius: 10px;
            overflow: hidden;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            display: inline-flex;
          "
        >
          <img
            style="width: 84.72px; height: 83.78px"
            src="https://via.placeholder.com/85x84"
          />
        </div>
      </div>
      <p class="vendor"><span class="param">Артикул:</span> #Q10233T</p>
      <p class="attr"><span class="param">Цена:</span>2489.99</p>
      <div class="ruble-svg"></div>
      <span class="quantity">Количество</span>
      <div class="btn-more"></div>
      <div class="btn-less"></div>
      <div class="btn-cart"></div>
      <span class="weight">
        <div class="weight-svg"></div>
        <span class="weight-num">1,2 кг</span></span
      >
      <div style="width: 501px; height: 162px">
        <h6 class="description">
          <br />Резец с двумя твердосплавными наконечниками/напайками, крепится
          одним болтом. Резец мульчерный <b>RM4501</b
          ><span> устанавливается на мульчеры BANDIT.<br /><br /></span>
        </h6>
      </div>
      <p class="attr">Состав комплекта:</p>
      <ul class="components">
        <li class="components__list">
          <a href="" class="components__item">Болт 18шт</a>
        </li>
        <li class="components__list">
          <a href="" class="components__item">Зуб 18шт</a>
        </li>
      </ul>
    </main>
  {% endblock content %}
  </body>
  <footer>
    <img class="logo-well-footer" src="pics/footer-logo.svg" alt="logo well" />
    <p class="credits">
      Designed and built with all the love in the world by the
      <span class="Deposit-link"><a class="deposit" href="">Deposit</a> </span>.
      <span class="licensed">Code licensed</span>
      <a class="MIT-link" href="">MIT.</a>
    </p>
    <div class="forms-container">
      <span class="contact-form"><p>Задать вопрос</p></span>
      <div class="contact-positon">
        <span class="contact-num"
          ><img
            class="call"
            src="pictures/catalog-pictures-index/phone.svg"
            alt="call us"
        /></span>
      </div>
    </div>
    <div class="darken-coat">
      <p class="copyrights">© Well, Russia. Все права защищены.</p>
    </div>
  </footer>
</html>
