<footer>
        <img
          class="logo-well-footer"
          src="pictures/catalog-pictures-index/footer-logo.svg"
          alt="logo well"
        />
        <p class="credits">
          Designed and built with all the love in the world by the
          <span class="Deposit-link"
            ><a class="deposit" href="">Deposit</a> </span
          >. <span class="licensed">Code licensed</span>
          <a class="MIT-link" href="">MIT.</a>
        </p>
        <div class="forms-container">
          <span class="contact-form"><p>Задать вопрос</p></span>
          <div class="contact-positon">
            <span class="contact-num"
              ><img
                class="call"
                src="pictures/catalog-pictures-index/phone.svg"
                alt="call us"
            /></span>
          </div>
        </div>
        <div class="darken-coat">
          <p class="copyrights">© Well, Russia. Все права защищены.</p>
        </div>
      </footer>