    <header class="header">
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a class="navigation__link" href="" title="logo"
              ><img
                id="logo-well"
                src="/pictures/logo-black.svg"
                alt="logo well"
            /></a>
          </li>
          <div class="img-container">
            <li class="navigation__item">
              <a class="navigation__link" href="" title="search"
                ><img
                  src="pictures/search_icon.svg"
                  alt="search icon"
                  height="32"
                  width="32"
              /></a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="" title="cart"
                ><img
                  src="pictures/Vectorcart-2.svg"
                  alt="cart icon"
                  height="32"
                  width="32"
              /></a>
            </li>
          </div>
        </ul>
      </nav>
    </header>