img {
  max-width: unset;
}

.catalog__list {
  margin-top: 246px;
  height: 600px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 64px;
  flex-shrink: 0;
  /* columns: 3; */
}

.catalog__list2 {
  /* margin-left: -72px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1200px;
  margin-top: 246px;
  height: 600px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 64px;
  flex-shrink: 0;
}

.catalog__item {
  position: relative;
  display: flex;
  width: 341.475px;
  height: 631.322px;
  padding: 57.969px 79.227px 363.918px 77.896px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;

  border-radius: 14.492px;
  border: 0.906px solid var(--gradient, rgba(204, 98, 98, 0.8));
  background: linear-gradient(
    180deg,
    #422020 0%,
    #422020 53.87%,
    #888 53.88%,
    #888 53.89%,
    #888 74.48%
  );
  box-shadow: 0px 1.87987px 2.85741px 0px rgba(0, 0, 0, 0.04),
    0px 4.5176px 6.86675px 0px rgba(0, 0, 0, 0.06),
    0px 8.50624px 12.92948px 0px rgba(0, 0, 0, 0.07),
    0px 15.17367px 23.06398px 0px rgba(0, 0, 0, 0.09),
    0px 28.38069px 43.13865px 0px rgba(0, 0, 0, 0.1),
    0px 67.93277px 103.25781px 0px rgba(0, 0, 0, 0.14);
}

.table-catalog {
  display: flex;
  text-align: left;
}

.buy-btn {
  display: flex;
  width: 144.384px;
  height: 39.706px;
  padding: 9.024px 40.608px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 14.438px;
  background: var(--Secondary);

  color: var(--White, #e6e6e6);
  font-family: Roboto Condensed;
  font-size: 18.048px;
  font-style: normal;
  font-weight: 700;
  line-height: 30.682px; /* 170% */
  margin-top: 0px;
  margin-left: 8px;
}

.dotted-line {
  width: 282.451px;
  height: 1px;
  flex-shrink: 0;
  stroke-width: 0.5px;
  stroke: var(--Secondary, #c12222);
  border-bottom: 3px #c12222 dashed;
  /* background-color: #c12222; */
  /* color: #c12222; */
}

.caption-position {
  margin-top: 360px;
  margin-left: 28px;
  top: 0;
  left: 0;
  position: absolute;
}

.rows-position {
  margin-left: 200px;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  gap: 177px;
  /* position: absolute; */
}

.body-position {
  margin-top: -56px;
  margin-left: -218px;
  padding-bottom: 34px;
  position: relative;
}

.line-position {
  position: absolute;
  margin-top: 38px;
}

.line-position2 {
  position: absolute;
  margin-top: 38px;
}

.rows-position-fix {
  margin-left: 200px;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  gap: 120px;
  /* position: absolute; */
}

.body-position-fix {
  margin-top: -56px;
  margin-left: -206px;
  padding-bottom: 34px;
  position: relative;
}

.red-stripe {
  position: absolute;
  margin-top: -120px;
  width: 100%;
  height: 500px;
  flex-shrink: 0;
  background: var(--Secondary, #c12222);
}

.grey-stripe {
  margin-top: 147px;
  width: 100%;
  height: 500px;
  flex-shrink: 0;
  background: #cfcfcf;
  position: absolute;
}


.body-position-fix2 {
  margin-top: -56px;
  margin-left: -234px;
  padding-bottom: 34px;
  position: relative;
}